@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')
@import 'variables/global'
@import 'reset'
@import 'themes/normal'
@import 'themes/dark'

html
    font: var(--font-m)

.app
    background-color: var(--bg-color)
    color: var(--primary-color)

    min-height: 100vh
    transition: var(--transition)

.content-page
    display: flex
    gap: 12px

.content
    flex-grow: 1
    transition: var(--transition)
