.button
    cursor: pointer
    color: var(--primary-color)
    border: 1px solid
    padding-block: 10px
    padding-inline: 15px

.clear
    border: none
    background-color: transparent
    padding: 0
    margin: 0
    outline: 0

.clearInverted
    @extend .clear
    color: var(--inverted-primary-color)

.outline
    background-color: transparent
    border: 1px solid var(--primary-color)
    color: var(--primary-color)
    border-radius: 5px

.small
    font-size: var(--font-size-s)

.medium
    font-size: var(--font-size-m)
