.navBar
    width: 100%
    height: var(--nav-bar-height)
    background-color: var(--inverted-bg-color)
    display: flex
    align-items: center
    padding-inline: 20px
    position: sticky
    top: 0
