.sideBarContainer
    width: var(--side-bar-width)
    transition: var(--transition)
    
.sideBar
    height: calc(100vh - var(--navBar-height))
    width: var(--side-bar-width)
    background-color: var(--inverted-bg-color)

    position: fixed
    top: var(--navBar-height)

    transition: var(--transition)

.opened
    width: var(--side-bar-width-opened)

.switchers
    position: absolute
    bottom: 0
    padding: 20px
    display: flex  
    gap: 16px  

.button
    position: absolute
    top: 0
    right: 0    